* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: white;
    font-size: 1.1rem;
    background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html,body {
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    justify-self: end;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


/* header */

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px 0;
}

.navigation ul li {
    display: inline-block;
    justify-self: end;
}

.navigation ul li a {
    margin-left: 20px;
    font-family: 500;
}

.navigation ul li a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.navigation h1 {
    text-transform: uppercase;
}


/* hero sekcija */

.hero-main-home {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-main-home h1 {
    font-size: 70px;
}

.hero-main-home p {
    margin: 20px 0;
}


.hero-main-home button {
    padding: 10px 30px;
    color: white;
    background-color: rgb(2, 4, 6);
    border: none;
    border-radius: 25px;
    font-size: large;
    outline: none;
}


.hero-main-home button:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-4px);
    background-color: rgb(222 , 33, 10)
    ;
}


/* social icons */

.social-icons {
    padding: 30px 0;
}

.social-icons .fa-facebook {
    margin: 0 20px;
}

.social-icons i:hover {
    color: black;
    transition: 0.3s;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 2;
    display: none;
}


/* responsive */

@media (max-width: 800px) {
    .hero-main-home {
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px 0;
        text-align: center;
    }

    .hero-main-home h1 {
        font-size: 30px;
    }

    .hero-main-home img {
        padding: 50px 0;
    }

    .social-icons {
        text-align: center;
    }

    /* navbar */
    .navigation {
        padding: 10px 0;
    }
    .navigation h1 {
        font-size: 20px;
    }


    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }

    .navigation .ul-menu a {
        color: black;
    }
    .navigation .ul-menu li a {
        margin-left: 0;
    }

    .navigation .ul-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        transform: translateX(-20px);
        border-right: black 1px solid;
        opacity: 0.9;
        padding: 30px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-500px);
        padding-top: 60px;
    }

    .navigation .ul-menu li {
        padding-top: 10px;
        border-bottom: 1px solid #ccc;
    }
    .navigation .ul-menu li:last-child {
        border-bottom: 0;
    }

    .navigation .ul-menu.show {
        transform: translateX(-20px);
    }

}